@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Darker Grotesque', sans-serif;
  color: #aa3939; }

/*Formato del header para estilo desktop y probablemente tablet*/
.Header {
  width: 100%;
  height: 13%;
  background-color: #aa3939;
  display: flex;
  flex-flow: row wrap;
  color: #ececec; }
  .Header .Header-Tittle {
    width: 24%;
    padding: auto;
    color: #ececec;
    margin: auto;
    color: inherit;
    /*.Header-Logo{
            max-width: 20%;
        }*/ }
  .Header .nav-desktop {
    width: 70%;
    flex-flow: row wrap;
    margin: auto;
    color: inherit; }
    .Header .nav-desktop .nav-d-ul {
      color: inherit;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row wrap; }
      .Header .nav-desktop .nav-d-ul .nav-d-li {
        list-style: none;
        color: inherit;
        width: fit-content;
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        height: 100%; }
        .Header .nav-desktop .nav-d-ul .nav-d-li .nav-d-li_a {
          text-decoration: none;
          color: inherit;
          margin: auto;
          text-transform: uppercase;
          font-size: 20px; }
          .Header .nav-desktop .nav-d-ul .nav-d-li .nav-d-li_a:hover {
            transform: scale(1.1);
            transition: 0.5s; }

/*<section class="Section Section-ProdYServ" id="ProdYServ">
    <div class="DivProductos ProdYServ-Div">
        <h3 class="-h3"></h3>
        <div class="-Ejemplos">
            <div class="-CadaEjemplo"> <h4 class="-TitEj">Saquitos de Mechi</h4> </div>
            <div class="-CadaEjemplo"> <h4 class="-TitEj">Felicitas Ernst</h4> </div>
            <div class="-CadaEjemplo"> <h4 class="-TitEj">Agus Ernst Make Up</h4> </div>
            <div class="-MasEjemplos"> <h4 class="-TitEj">Conocé más sobre nuestros proyectos haciendo acá</h4> </div>
        </div>       
    </div>

*/
.Section-ProdYServ {
  height: 100vh;
  width: 100%; }
  .Section-ProdYServ .DivProductos {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-flow: row wrap; }
    .Section-ProdYServ .DivProductos .-h3 {
      width: 100%;
      height: 10vh; }
    .Section-ProdYServ .DivProductos .-Ejemplos {
      width: 100%;
      height: 50vh;
      display: flex;
      flex-flow: row wrap; }
      .Section-ProdYServ .DivProductos .-Ejemplos .LinksA {
        margin: auto;
        width: 30vw;
        display: flex;
        flex-flow: row wrap;
        text-decoration: none;
        opacity: .5; }
        .Section-ProdYServ .DivProductos .-Ejemplos .LinksA:hover {
          opacity: none; }
          .Section-ProdYServ .DivProductos .-Ejemplos .LinksA:hover .-CadaEjemplo .-TitEj {
            display: none; }
        .Section-ProdYServ .DivProductos .-Ejemplos .LinksA .-CadaEjemplo {
          width: 100%;
          height: 40vh;
          margin: auto;
          display: flex;
          flex-flow: row wrap; }
          .Section-ProdYServ .DivProductos .-Ejemplos .LinksA .-CadaEjemplo .-TitEj {
            margin: auto;
            width: fit-content;
            text-transform: uppercase;
            font-weight: 1300; }
      .Section-ProdYServ .DivProductos .-Ejemplos .SDM {
        background-size: 100% 100%;
        background-repeat: no-repeat; }
        .Section-ProdYServ .DivProductos .-Ejemplos .SDM .-CadaEjemplo .-TitEj {
          display: none; }
        .Section-ProdYServ .DivProductos .-Ejemplos .SDM:hover {
          background-image: url("../Imagenes/SaquitosdeMechi.png");
          transition: 1s; }
      .Section-ProdYServ .DivProductos .-Ejemplos .LinksB {
        text-decoration: none; }
        .Section-ProdYServ .DivProductos .-Ejemplos .LinksB .-MasEjemplos {
          display: flex;
          flex-flow: row wrap;
          width: 100vw;
          height: 10vh; }
          .Section-ProdYServ .DivProductos .-Ejemplos .LinksB .-MasEjemplos .-TitEj {
            margin: auto;
            width: fit-content;
            text-transform: uppercase;
            font-weight: 1300; }
