* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Darker Grotesque', sans-serif;
  color: #aa3939; }

/*Formato del header para estilo desktop y probablemente tablet*/
.Header {
  position: fixed;
  width: 100%;
  height: 13%;
  background-color: #aa3939;
  display: flex;
  flex-flow: row wrap;
  color: #DADCE0; }
  .Header .Header-Tittle {
    width: 24%;
    padding: auto;
    color: #DADCE0;
    margin: auto;
    color: inherit;
    /*.Header-Logo{
            max-width: 20%;
        }*/ }
  .Header .nav-desktop {
    width: 70%;
    flex-flow: row wrap;
    margin: auto;
    color: inherit; }
    .Header .nav-desktop .nav-d-ul {
      color: inherit;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row wrap; }
      .Header .nav-desktop .nav-d-ul .nav-d-li {
        list-style: none;
        color: inherit;
        width: fit-content;
        margin: auto;
        display: flex;
        flex-flow: row wrap;
        height: 100%; }
        .Header .nav-desktop .nav-d-ul .nav-d-li .nav-d-li_a {
          text-decoration: none;
          color: inherit;
          margin: auto;
          text-transform: uppercase;
          font-size: 20px; }
          .Header .nav-desktop .nav-d-ul .nav-d-li .nav-d-li_a:hover {
            transform: scale(1.1);
            transition: 0.5s; }

.productosServicios {
  width: 100%;
  padding-top: 11%; }
  .productosServicios .productos {
    width: 100%; }
    .productosServicios .productos .productos-titulos {
      width: 100%;
      font-size: 45px;
      text-align: center;
      text-transform: uppercase;
      color: #4E2C73; }
    .productosServicios .productos .productos-conteiner {
      width: 100%;
      height: 87%;
      display: flex;
      flex-flow: row wrap; }
      .productosServicios .productos .productos-conteiner .pack {
        width: 230px;
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        display: flex;
        flex-flow: row wrap;
        padding-bottom: 15px;
        border: 1px solid #DADCE0;
        border-radius: 8px; }
        .productosServicios .productos .productos-conteiner .pack .pack-div {
          padding-top: 5px;
          padding-bottom: 15px;
          width: 100%;
          margin: auto;
          height: 10vh;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          border-bottom: 1px solid #DADCE0; }
          .productosServicios .productos .productos-conteiner .pack .pack-div .pack-tit {
            text-align: center;
            color: #4E2C73;
            font-size: 30px; }
        .productosServicios .productos .productos-conteiner .pack .pack-ul {
          list-style-type: none;
          margin: auto;
          width: 80%; }
          .productosServicios .productos .productos-conteiner .pack .pack-ul .pack-li {
            width: 100%;
            text-align: left;
            font-weight: 600;
            padding-top: 8px;
            padding-bottom: 8px;
            color: #4E2C73; }
          .productosServicios .productos .productos-conteiner .pack .pack-ul .pack-li_precio {
            text-align: center; }
        .productosServicios .productos .productos-conteiner .pack:hover .pack-tit {
          transform: scale(1.3);
          transition: .5s; }
        .productosServicios .productos .productos-conteiner .pack:hover .pack-li_precio {
          transform: scale(1.5);
          transition: .5s; }
