.productosServicios{
    width: 100%;
    padding-top: 11%;
    .productos{
        width: 100%;
        .productos-titulos{
            width: 100%;
            font-size: 45px;
            text-align: center;
            text-transform: uppercase;
            color: $violet;
        }
        .productos-conteiner{
            width: 100%;
            height: 87%;
            display: flex;
            flex-flow: row wrap;
            .pack{
                width: 230px;
                margin: auto;
                margin-top: 15px;
                margin-bottom: 15px;
                display: flex;
                flex-flow: row wrap;
                padding-bottom: 15px;
                border: 1px solid $grey;
                border-radius: 8px;
                

                .pack-div{
                    
                    padding-top:5px;
                    padding-bottom:15px;
                    width: 100%;
                    // background-color: $grey;
                    margin: auto;
                    height: 10vh;
                    border-top-left-radius:8px;
                    border-top-right-radius:8px;
                    border-bottom: 1px solid $grey;

                    .pack-tit{
                        text-align: center;
                        color: $violet;
                        font-size: 30px;
                    }

                }
                .pack-ul{
                    list-style-type: none;
                    margin: auto;
                    width: 80%;
                    .pack-li{
                        width: 100%;
                        text-align: left;
                        font-weight: 600;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        color: $violet;
                    }
                    .pack-li_precio{
                        text-align: center;

                    }
                }
                &:hover{
                    .pack-tit{
                        transform: scale(1.3);
                        transition: .5s;
                    }
                    .pack-li_precio{
                            transform: scale(1.5);
                            transition: .5s;
                        }
                }
            }
        }
    }
}