$bordeaux:#aa3939;
$grey:#DADCE0;
$violet:#4E2C73;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Darker Grotesque', sans-serif;
    color:$bordeaux;
}


@import "header.scss";
@import "ProdYServ.scss";

